.d-flex {
    display: flex;
    justify-content: flex-start;
    gap: 5px
}

.test-div, .product-card {
    border: solid 1px lightgray;
    margin: 5px 0;
    padding: 5px;
}

.product-title {
    text-align: center;
}

.product-image {
    width: calc(25vw - 50px);
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}